[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "npx vite build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-lighthouse"
